
@{
    ViewBag.Title = "Employees";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Employees</h2>

<a href="/Admin/AddEmployee" class="btn btn-outline-secondary">Add Employee</a>

<br />
<br />
<table class="table table-bordered">

    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Date of Birth</th>
        <th>Phone</th>

    </tr>

    @foreach (var data in Model)
    {
        <tr>
            <td>@data.Id</td>
            <td>@data.Name</td>
            <td>@data.Email</td>
            <td>@data.DateOfBirth</td>
            <td>@data.Phone</td>
            <td><a href="/Admin/EditEmployee/@data.Id" class="btn btn-outline-warning">Edit</a></td>
            <td><a href="/Admin/DeleteEmployee/@data.Id" class="btn btn-outline-danger">Delete</a></td>
        </tr>
    }

</table>